@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Versión & Exportaciones</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<form asp-action="Create" asp-controller="TimeRecords">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
    <div class="form-group">
        <label class="control-label">Número de Empleado</label>
        <input type="text" class="form-control" name="EmployeeNumber" placeholder="Digite su numero de empleado"> 
    </div>
     <hr />
    <div class=".form-control">
        <input type="submit" value="Enviar" class="btn btn-primary"/>
    </div>
</form>


